
<h1>TOMUGO</h1>

<form method="post" action="/predict" enctype="multipart/form-data">
    <div>
        <input type="file" id="file" name="file">
    </div>
    <div>
        <button>Submit</button>
    </div>
</form>