<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TOMUGO</title>

    <style>
        body, h1 {
            text-align: center;
            font-family: arial, helvetica, sans-serif;
        }
        ul {
            margin: 20px 0;
            padding: 0;
        }
        li {
            list-style: none;
            margin: 5px;
            font-size: 24px;
        }
        img {
            width: 100%;
        }
        input[type ="file"] {
            height: 30px;
            font-size: 15px;
        }
        button {
            margin: 20px 0;
            height: 30px;
            border: 1px solid black;
            font-size: 20px;
        }
    </style>
</head>
<body>
    {{{content}}}
</body>
</html>